body {
    margin - left: 5e m;
}
h1 {
    font - size: 40 px;
}
.red {
    color: red;
}
.pink {
    color: pink;
}
.green {
    color: green;
}
.orange {
    color: orange;
}
.lightblue {
    color: lightblue;
}
.purple {
    color: purple;
}
.grey {
    color: grey;
}